<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h3>Login</h3>
<p><%=loginMsg%></p>
<form action="/home" method="POST" id="loginForm">
	<label>Username or Email</label>
	<input type="text" name="username" required>
	<br>
	<label>Password</label>
	<input type="password" name="password" required>
	<br>
	<button type="submit">Login</button>
</form>

<script type="text/javascript" src="login.js">
</script>

<br>
<br>

<h3>Register</h3>
<p><%=errorMsg%></p>
<form action="/" method="POST" id="registerForm">
	<label for="firstname">First Name</label>
	<input type="text" id="firstname" name="firstname" required pattern="^[a-zA-Z.,'-]{2,}$">
	<p id="firstnameMsg"></p>
	<label for="lastname">Last Name</label>
	<input type="text" id="lastname" name="lastname" required pattern="^[a-zA-Z.,'-]{2,}$">
	<p id="lastnameMsg"></p>
	<label for="email">Email</label>
	<input type="email" id="email" name="email" required pattern="^([\S]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
	<p id="emailMsg"></p>
	<label for="username">Username (optional)</label>
	<input type="text" id="username" name="username" pattern="^[a-zA-Z0-9\-_!?+#$%&*]{4,30}$">
	<p id="usernameMsg"></p>
	<label for="password">Password</label>
	<input type="password" id="password" name="password" required pattern="^[\S]{7,35}$">
	<p id="passwordMsg"></p>
	<label for="confirmPassword">Confirm Password</label>
	<input type="password" id="confirmPassword" required>
	<p id="confirmPasswordMsg"></p>
	<button type="submit" id="registerBtn">Login</button>
</form>

<script type="text/javascript" src="registration.js">
</script>
</body>
</html>