<!DOCTYPE html>
<html>
<head>
    <title>Planni - Notes</title>

    <link rel="stylesheet" type="text/css" href="assets/stylesheet.css">
</head>
<body>

<div class="notes-view-container">
    <div class="left-side-pane">
        <div class="switch-view-container">
            <form action="/planner" method="get">
                <button class="switch-view-btn">Planner</button>
            </form>
        </div>
        <div class="divider"></div>
        <div class="board-list-container">
            <div class="board-list-label">Boards</div>
            <div class="board-list">
                <% boards.forEach(function(board){ %>
                    <div class="board-list-item" id="<%=board.uuid%>">
                        <%=board.Name%>
                    </div>
                <% })%>
            </div>
        </div>
    </div>
    <div class="center-view">
        <div class="board">
            <h2>
                <% for(var i = 0; i < boards.length; i++){%>
                    <% if (boards[i].UUID == homeBoardId) {%>
                    <%= boards[i].Name %>
                    <% break; %>
                    <% } %>
                <% } %>
            </h2>
            <button class="create-note">New Note</button>
            <div class="board-notes-container">

            </div>
        </div>
    </div>
</div>

</body>
</html>