<!DOCTYPE html>
<html>
<head>
    <title>Planni - Notes</title>

    <link rel="stylesheet" type="text/css" href="assets/stylesheet.css">
</head>
<body>

<div class="notes-view-container">
    <div class="left-side-pane">
        <div class="switch-view-container">
        </div>
        <div class="divider"></div>
        <div class="board-list-container">
            <div class="board-list-label">Boards</div>
            <div class="board-list">
                <% boards.forEach(function(board){ %>
                    <div class="board-list-item" id="<%=board.uuid%>">
                        <%=board.Name%>
                    </div>
                <% })%>
            </div>
        </div>
    </div>
    <div class="center-view">
        <div class="board">
        </div>
    </div>
</div>
</body>
</html>