<!DOCTYPE html>
<html>
<head>
    <title>Planni - Planner</title>

    <link rel="stylesheet" type="text/css" href="assets/stylesheet.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div class="notes-view-container">
    <div class="left-side-pane">
        <div class="switch-view-container">
            <form action="/planner" method="get">
                <button class="switch-view-btn">Notes</button>
            </form>
        </div>
        <div class="divider"></div>
        <div class="board-list-container">
            <div class="board-list-label">Boards</div>
            <div class="board-list">
                <% filters.forEach(function(filter){ %>
                <div class="board-list-item" data-uuid="<%=filter.uuid%>">
                    <%=filter.Name%>
                </div>
                <% })%>
            </div>
        </div>
    </div>
    <div class="center-view">
        <div class="calendar">
            <div class="calendar-header">
                <button class="previous-month-btn">Previous</button>
                <h2 class="month-name">Month</h2>
                <button class="next-month-btn">Next</button>
            </div>
            <div class="dates">
                <div class="dates">
                    <div class="calendar-row">
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                    </div>
                    <div class="calendar-row">
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                    </div>
                    <div class="calendar-row">
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                    </div>
                    <div class="calendar-row">
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                    </div>
                    <div class="calendar-row">
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                        <div class="calendar-cell">
                            <div class="calendar-cell-info"></div>
                            <ul class="date-cell-tasks"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side-pane">
            <h3 class="monthly-tasks-title">
                Monthly Tasks
            </h3>
            <div class="monthly-tasks">
                <span class="task-item" contenteditable="true" data-position="0"></span>
            </div>
        </div>
    </div>

    <div class="date-background">
        <div class="date-view">
            <div class="date-header">
                <div class="date-number">24</div>
                <div class="date-sticker"></div>
            </div>
            <div class="date-body">

            </div>
        </div>
        <div class="back-button">
            <
        </div>
        <div class="date-view-sidebar">
            <select class="text-color-dropdown">
                <option value="black">Black</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="pink">Pink</option>
                <option value="orange">Orange</option>
            </select>
        </div>
    </div>
</div>
<script type="text/javascript" src="monthlyTaskHandler.js"></script>
<script type="text/javascript" src="dateHandler.js"></script>
<script type="text/javascript" src="calendarHandler.js"></script>

</body>
</html>