body {
	background-color: #f0f0f0;
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.notes-view-container {
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.left-side-pane {
	display: inline-block;
	position: absolute;
	width: 10vw;
	height: 100%;
	background-color: #7a5304;
}

.switch-view-container {
	width: 100%;
	height: 25%;
}

.divider {
	height: 0px;
	width: 90%;
	margin-left: 5%;
	border: 1px solid #b87b35;
}

.board-list-container {
	height: 74%;
	width: 100%;
}

.board-list-label {
	height: 5%;
	width: 100%;
	text-align: center;
	font-size: 2.5vh;
	color: #b87b35;
}

.board-list {
	height: auto;
	width: 100%;
}

.board-list-item {
	height: 12vh;
	width: 90%;
	margin: 5%;
	background-color: #decdba;
	border-radius: 1vh;
	font-size: 2vh;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.center-view {
	display: inline-block;
	position: absolute;
	right: 0;
	width: 90vw;
	height: 100%;
}

.board {
	display: inline-block;
	margin: 15vh 3vw 2vh 3vw;
	width: 80vw;
	height: 83vh;
	background-color: #decdba;
	border: 1px solid #b8aa9a;
	border-radius: 1vh;
}

.note-background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.8);
}

.new-note {
	position: absolute;
	width: 39vw;
	height: 64vh;
	top: 26vh;
	left: 30.5vw;
	background-color: #f0f0f0;
}

.note-top-bar {
	position: absolute;
	width: 39vw;
	height: 4vh;
	top: 18vh;
	left: 30.5vw;
	background-color: #f0f0f0;
}

.note-left-bar {
	position: absolute;
	width: 2.5vw;
	height: 64vh;
	top: 26vh;
	left: 26vw;
	background-color: #f0f0f0;
}

.note-title {
	margin: 2% 3%;
	width: 95%;
	height: 8%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	border-bottom: 1px solid gray;
}

.note-title:focus {
	outline: none;
}

.note-body {
	border: none;
	margin: 3%;
	width: 94%;
	word-wrap: break-word;
}

.note-body {
	outline: none;
}

.bullet-list-area {
}