.Calendar {
    position: absolute;
    width: 65%;
    height: 80%;
    left: 12%;
    bottom: 5%;
    background-color: #f0f0f0;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.5);
    border-radius: 6px;
}

.Calendar .header {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}

.Calendar .header span {
    width: 80%;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
}

.Calendar .header button {
    margin-bottom: 2%;
}

.Calendar .dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    height: 82%;
    margin-left: auto;
    margin-right: auto;
}